*

!.gitignore
!.gitattributes
!Cargo.toml
!*.rs
!*.py
!*.sh
!*.md

!/rithmic/
!/rithmic/**/
!/rithmic/tests/*/in/*.txt
!/rithmic/tests/*/out/*.txt
!/rithmic/tests/usaco/*.zip

!/rithmic-impl/
!/rithmic-impl/**/

!/target/
/target/*
!/target/doc/
!/target/doc/**
