*

!.gitignore
!.gitattributes
!Cargo.toml
!*.rs
!*.py
!*.sh
!*.md

!/rithmic/
!/rithmic/**/
!/rithmic/examples/*/in/*.txt
!/rithmic/examples/*/out/*.txt

!/target/
/target/*
!/target/doc/
!/target/doc/**
